@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Satoshi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.preloader-text {
  font-size: 300px;
  font-weight: bold;
<<<<<<< HEAD
  font-family: "Arial Black", Arial, sans-serif!important;
=======
  font-family: "Arial Black", Arial, sans-serif;
>>>>>>> 156dc0369c205c0fa75974c1b524ea759f068402
}

@media (max-width: 768px) {
  .preloader-text {
    font-size: 200px;
  }
}

@media (max-width: 480px) {
  .preloader-text {
    font-size: 130px;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> 156dc0369c205c0fa75974c1b524ea759f068402
