@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Satoshi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.preloader-text {
  font-size: clamp(130px, 200px, 300px);
  font-weight: bold;
  font-family: "Arial Black", Arial, sans-serif;
}