@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
}

.preloader-text {
  font-size: 300px;
  font-weight: bold;
  font-family: "Arial Black", Arial, sans-serif!important;
  font-family: "Arial Black", Arial, sans-serif;
}

@media (max-width: 768px) {
  .preloader-text {
    font-size: 200px;
  }
}

@media (max-width: 480px) {
  .preloader-text {
    font-size: 140px;
  }
}

